﻿@model Finalterm.Models.Order


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/CSS/bootstrap4.css">
    <link rel="stylesheet" href="~/CSS/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Print</title>
</head>
<body>
        <table align="center" cellpadding="20" cellspacing="200px" style="background-color:white" width="100%" >
            <tr>
                <td align="center" colspan="10" style="align-content:center;font-family:Arial;font-size:larger" ><b><h3>Invoice #@Model.ID</h3></b></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <table class="table-bordered">
                        <tr>
                            <td>
                                <h3>Order Details</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <img src="https://img.icons8.com/metro/26/000000/phone.png" width="15" height="15">&nbsp;+8801521312846
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="https://img.icons8.com/metro/26/000000/new-post.png" width="15" height="15">&nbsp;Khalidhasan.khr@gmail.com
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="https://img.icons8.com/metro/26/000000/home.png" width="15" height="15">&nbsp;<a href="@Url.Action("Index","Home")" target="_blank">www.BuyHere.com</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="table-bordered">
                                    <tr>
                                        <td>
                                            <b>Date:</b>&nbsp;@Model.time
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Order Id:</b>&nbsp;@Model.ID
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Payment Method:</b> Cash On Delivery
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Shipping Method:</b> Flat Shipping Rate
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="background-color:white">
                <td colspan="9" align="center">
                    <table cellspacing="10" border="1" width="800" cellpadding="5" class="table-bordered">
                        <tr>
                            <td colspan="2" style="background-color:darkgrey">
                                <b>Orders(#@Model.ID)</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Parmanent Address
                            </td>
                            <td>
                                Payment Address
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Model.Customer.Address
                            </td>
                            <td>
                                @Model.Address
                            </td>
                        </tr>
                    </table>
                </td>
                <td colspan="5" valign="top"></td>
            </tr>

            <tr>
                <td style="background-color:white" colspan="20" align="center">
                    <table width="50%" class="table-bordered">
                        <tr>
                            <th>
                                Brand
                            </th>
                            <th>
                                Product
                            </th>
                            <th>
                                Model
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Unit Price
                            </th>
                            <th>
                                Total
                            </th>
                        </tr>
                        <tr>
                            <td>
                                @Model.Product.Brand
                            </td>
                            <td>
                                @Model.Product.Name
                            </td>
                            <td>
                                @Model.Product.Id
                            </td>
                            <td>
                                @Model.Quantity
                            </td>
                            <td>
                                @Model.Product.Sell_Price
                            </td>
                            <td>
                                @Model.Payment.Amount
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="right"></td>
                            <td>
                                Sub Total
                            </td>
                            <td>
                                @Model.Payment.Amount
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="right"></td>
                            <td>
                                Flat Shipping rate
                            </td>
                            <td>
                                50
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="right"></td>
                            <td>
                                Total
                            </td>
                            <td>
                                @{
                                    double a = Model.Payment.Amount;
                                    a = a + 50.0;
                                }
                                @a
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
</body>
</html>
